body {
    background-color: wheat;
    font-family: 'Freckle Face', sans-serif;
    font-size: 20px;
    color: grey;
}

/* font-family: 'Baloo Bhaina', cursive;
font-family: 'Herr Von Muellerhoff', cursive;
font-family: 'Freckle Face', cursive;
font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Lily Script One', cursive; */

#container {
    width:100%;
    max-width: 1335px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#menu {
    height: 120px;
    background-color: #4d4d4d;
    color: #f9faed;
    margin-top: 10px;
    text-align: center;
  
}

#baner {
    height: 480px;
    text-align: center;
}

#koncept {
    height: 960px;
    background-color: #f9faed;
}

#produkt {
    padding-top: 1px;
    height: 480px;
    background-color: #fcb035;
}

h1 {
    margin: 0;
    font-size: 30px;
    text-align: center;
    color: #4d4d4d;
    letter-spacing: 3px;
}

#sklep {
    height: 380px;
    background-color: #f9faed;
}

#kontakt  {
    height: 220px;
    background-color: #4d4d4d;
    
}

#kontakt h1{
    color:#f9faed;
}

/*Link po najechaniu kursorem*/
a {
    color: cornsilk;
    text-decoration: none;
}

a:hover {
    color: azure;
  }

.options {
    float: left;
    min-width: 180px;
    height: 25px;
    font-size: 24px;
    padding: 50px;
    border-right: 3px dotted #fcb035;
    border-radius: 15px;
    opacity: 0.8;
}

.options:hover {
    background-color: #3f3e3e;
    cursor: pointer;
}

.logo {
    float: left;
}

a.scrollup{
    width: 64px;
    height: 64px;
    text-decoration: none;
    background: url("picture/up.png") no-repeat 0px 0px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    background-size: cover;
    border-radius: 80%;
    display: none;
}
